.content1{
    width: 100%;
    max-width: 950px;
}
article{
    padding: 30px;
}

article img{
    border-radius: 30px;
    margin: 20px 5px;
    max-width: 100%;
    max-height: 600px;
}
article p:has(img){
    text-align: center;
}
article p{
    margin-top: 1rem;
}
@media (max-width:690px) {
    .contents{
        padding: 2rem 0 0 0 
    }
    article{
        padding: 30px 20px;
    }
}
