@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat+italy&family=Noto+Serif+KR&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
:root{
    --bd-test: 1px solid #b7b7b7;
    --bgc-test:#ffffff;

    --keycolor:#a51c30;
    --blur:blur(5px);
    --blur_back:blur(2px);
    --fff:#fff;
    --fff2:#efeeee;
    --black:#000;
    --black2:#121212;
    --header-bgc: #fff;
    --header-h: 90px;
    --header-padding-side:3rem;
    --text-shadow:0px 2px 2px rgba(0, 0, 0, 0.27);
    --text-shadow2:0px 2px 2px rgba(0, 0, 0, 0.17);
    --text-shadow3:0px 2px 2px rgba(0, 0, 0, 0.1);
    
    --hamburger-size:25px;
    --q-size:50px;
    --keytabs-padding-right:45px;
    --keytabs-border-color:#ffffff2f;
    --keytabs-icon-size:22px;
}
*{
    font-family: 'Pretendard-Regular', Helvetica,sans-serif ,serif;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    margin: 0;
    padding: 0;
    text-decoration: none;
    word-break:keep-all
}
html{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
        display: none;
      }
}
body{
    min-width: 340px; /*갤럭시폴드 폴디드 width*/
    width: 100%;
    height: 100%;
}

/* 문의(플로팅 최상단) */
.corner{
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: var(--q-size);
    height: var(--q-size);
    border-radius: 50%;
    border: var(--bd-test);
    font-size: 1.5em;
    font-weight: bold;
    background-color: #ffffff81;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
}
#q{
    transform: rotateZ(-20deg);
}
#q:hover{
    background-color: #29292981;
    border-color: #ffffff27;
    color: #fff;
}
#topBtn{
    display: none;
    bottom: calc(var(--q-size) + 7px);
}
#topBtn i {
    scale: .8;
}
#topBtn:hover{
    background-color: #29292981;
    border-color: #ffffff27;
    color: #fff;
}
/* 헤더 */
header{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.headerbefore{
    content: "";
    width: 100%;
    height: var(--header-h);
    background: linear-gradient(180deg, #473e282c, #00000000);;
    
    position: fixed;
    z-index: -1;

}
.header-wrap{
    width: 100%;
    height: var(--header-h);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--header-padding-side);
    /* background-color: var(--fff); */
    /* border-bottom: #e5e5e5 1px solid; */
    color: var(--fff2);
    text-shadow: var(--text-shadow);
}
/* 헤더 로고 */
#header-logo a img{
    filter: brightness(90%) drop-shadow(3px 3px 3px rgba(0,0,0,0.15));
}
/* gnb */
.gnb{
    margin: 0 3rem;
    /* 1100px 이하일 경우 숨기기 */
}
.gnb_list{
    /* margin: auto; */
    display: flex;
    gap: 0 5rem;
}
        .gnb_lv1-item{
            display: flex;
            align-items: center;
            justify-content: center;
            height: var(--header-h);
        }
        .gnb_lv1-item>a{
            padding: 2px 3px;
            border-bottom: 3px solid #00000000;
            position: relative;
            font-weight: 700;
            font-size: 1.2em;
            width: 100%;
        }
        .gnb_lv1-item:hover>a{
            border-bottom-color: #c81818;
        }
        .gnb_lv1-item:hover>.gnb_list-lv2{
            visibility:visible;
            opacity: 1;
        }
.gnb_list-lv2{
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% - 15px));

    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 15px;
    overflow: hidden;

    /* background-color: #ffffffd2; */
    background-color: #ffffff;
    color: var(--black2);
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s ease-in-out;
}
.gnb_item-lv2{
    padding: 5px 20px;
    /* padding-top: 10px; */
    /* border-bottom: 1px solid #00000000; */
}
.gnb_item-lv2:first-child{
    padding-top: 10px;
}
.gnb_item-lv2:last-child{
    padding-bottom: 15px;
}
.gnb_item-lv2:hover{
    background-color: var(--keycolor);
    color: var(--fff);
}



/* 헤더 왼쪽 메뉴바+유저아이콘 */
.header-menu{
    display: flex;
    gap: 1.9rem;
    align-items: center;
}
/* 유저아이콘 */
.lang-wrap{
    position: relative;
}
.lang-select{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    /* margin-top: 5px; */
    
    /* border: var(--bd-test); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffac;
    
    border-radius: 15px;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    overflow: hidden;
    visibility:hidden;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
.lang-btn{
    /* min-width: 50px; */
    padding: 8px 0px;
}
.lang-select>a{
    padding: 5px 19px;
    color: var(--black2);
}
.lang-select>a:hover{
    background-color: var(--keycolor);
    color: var(--fff);
}
.lang-btn-icon{
    transform: scale(.7);
}
.lang-wrap:hover .lang-btn-icon{
    transition: 0.3s;
    transform: rotateZ(180deg) scale(.7);
}
.lang-wrap:hover .lang-select{
    visibility:visible;
    opacity: 1;
}
/* 햄버거 메뉴 */
.all_menu-btn{
    position: relative;
    width: var(--hamburger-size);
    height: var(--hamburger-size);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
}
.all_menu-btn-icon{
    font-size: 1.2em;
}
.all_menu-btn:hover{
    cursor: pointer;
}

/* 전체 메뉴(나타나는 메뉴)---------------------- */
#all_menu{
    z-index: 102;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 1200px;
    width: 75%;
    height: 100dvh;
    padding: var(--header-h) 50px;
    transform: translateX(100%);
    transition: .3s ease-in-out;
    background-color: var(--keycolor);
}


.all_menu-top{
    z-index: -103;
    position: fixed;
    top: 0;
    right: 0;
    /* width: 100%; */
    height: var(--header-h);
    padding: 0 var(--header-padding-side);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    opacity: 0;
}
.all_menu-top-x{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--fff);
}
/* 전체 메뉴 BACK */
.all_menu-back{
    position: fixed;
    top: 0;
    left: 0;
    
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000065;
    backdrop-filter: var(--blur_back);
    -webkit-backdrop-filter: var(--blur_back);
    transform: translateX(100%);
    transition: opacity .4s ease-in-out;
    z-index: 101;
}
/* 메뉴 토글 */
#all_menu-toggle:checked ~ #all_menu{
    transform: translateX(0%)
}
#all_menu-toggle:checked ~ .all_menu-back{
    transform: translateX(0%);
    opacity: 1;
}
#all_menu-toggle:checked ~ .all_menu-top{
    z-index: 103;
    opacity: 1;
    transition: opacity .3s ease-in-out;

}

.all-menu{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    color: var(--fff2);
}
.all-menu::-webkit-scrollbar{
    display: none;
}
.all-menu::-webkit-scrollbar-thumb {
    background: rgba(220, 20, 60); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.all-menu::-webkit-scrollbar-track {
    background: rgba(220, 20, 60, .1);  /*스크롤바 뒷 배경 색상*/
}


.all-menu-row{
    padding: 30px 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.all-menu-row-sec1{
    font-weight: 600;
    font-size: 1.3em;
    min-width: 110px;
}
.all-menu-row-sec2{
    padding: 0 15px 0 50px;
    width: 100%;
    
}
.all-menu-row-item{
    padding-bottom: 8px;
    width: 100%;
}
.all-menu-row-item a{
    display: inline-block;
    width: 100%;
}
.all-menu-row-item a:hover{
    color: #fff;
    font-weight: bold;
    
}

.all-menu-row:hover>.all-menu-row-sec1{
    color: #fff;
    font-weight: bold;
    /* color: #ff4f4f; */
}
.all-menu-row:not(.all-menu-row:last-child){
    border-bottom: #a5a5a565 1px solid;
}



/* 메인 ---------------------*/
main{padding-bottom: 20.25vw;}
/* 섹션1 ---------------------*/
#sec1{
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    height: 100svh;
    min-height: 500px;
    /* max-height: 960px; */
    background-color: var(--bgc-test);

    /* padding-top: var(--header-h); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}
.main_slide{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.main_slide::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000031;
}
    .main_slide>img{
        width: 100%;    
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1s ease-in;
    }
    .main_slide>img.active{
        opacity: 1;
    }
    .main_slide>img.initial {
        opacity: 1;
        transition: none;
    }
.main_keytabs{
    position: absolute;
    bottom: 0;left: 0;
    z-index: 1;

    display: flex;
    width: 100%;
    /* border-top: 1px solid var(--keytabs-border-color);
    border-bottom: 1px solid var(--keytabs-border-color); */
    /* border: 1px solid var(--keytabs-border-color); */
}
.keytabs{
    position: relative;
    
    min-width: 180px;
    width: 25%;
    padding: 30px;
    padding-right: var(--keytabs-padding-right);
    font-size: 1.1rem;
    
    display: inline-flex;
    align-items: center;
    gap: 0 1.2rem;
    
    border: 1px solid var(--keytabs-border-color);
    background-color: #ffffff0b;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #efeeee;
}
.keytabs>span{
    width: var(--keytabs-icon-size);
    text-align: center;
}
.keytabs>.arrow45deg{
    position: absolute;
    top: 50%;
    right: calc(var(--keytabs-padding-right)/2);
}
.keytabs:hover{
    background-color: var(--keycolor);
}

.main-center{
    position: absolute;
    /* height: 100%; */
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    scale: 0.8;      
}
.main-center-logo{
    width: 160px;
    /* opacity: .95; */
    filter: brightness(90%) drop-shadow(3px 3px 3px rgba(0,0,0,0.3));
    position: absolute;


}
.main-center-ring{
    position: absolute;
    width: 300px;
    animation: rotate 30s linear infinite;
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.3));

}

/* 섹션2~ ---------------------*/
#sec2,
#sec3,
#sec4,
#sec5,
#sec6{
    width: 100%;
}



/* 푸터 */
footer{
    background: #323232;
    -webkit-padding-start: 7.8125vw;
    padding-inline-start: 7.8125vw;
    -webkit-padding-end: 7.8125vw;
    padding-inline-end: 7.8125vw;
    padding-top: 6.25vw;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    color: var(--fff2);
}
.footer-a{
    min-width: 45%;
}
.footer-a-2 div:first-child{
    padding: 30px 0 10px 0;
}
.footer-a-2 div:nth-child(2){
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}
.footer-a-2 div:nth-child(2) p{
    padding: 5px 15px 5px 0;
}
.footer-a-2-link{
    padding: 5px 15px 5px 0;
    font-size: 13px;
    /* text-decoration: underline; */
}
.footer-a-2-link .fa-arrow-up{
    transform: rotateZ(45deg);
    margin-left: 3px;
}
.footer-a-2-link:hover{
    color: #f05252;
    font-weight: bold;
}

.footer-b{
    width: 100%;
    /* min-width: 50%; */
    /* display: flex;
    flex-wrap: wrap;
    gap: 5px; */
    padding: 40px 0;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: auto;
    grid-gap: 12px;
    
}
.footer-b>div{
    border-top: 1px solid #ffffff5b;

    /* width: calc(25% - 30px);
    width: calc(25% - 5px); */
    padding: 20px 0;
}
.footer-b>div>p{
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 15px;
}
.footer-b>div li{
    font-size: 13px;
    padding-bottom: 10px;
}
.footer-b>div li:hover{
    color: #f05252;
    font-weight: bold;
}




.footer-c{
    width: 100%;
    font-size: 13px;
    border-top: 1px solid #ffffff5b;
    margin-top: 2.564102564102564vw;
    padding-top: 5.128205128205128vw;
    padding-bottom: 7.6923076923076925vw;
}
/*  */






@media (min-width: 1660px) {
    :root{
        --header-padding-side:4.5rem
    }
    
}

@media (min-width: 1440px) {
    :root{
        --header-h: 90px;
    }
    .gnb_list{
        gap: 6.5em;
        font-size: 1.1em;
        height: var(--header-h);
    }
    main{padding-bottom: 10.25vw;}
}
@media (min-width: 1380px) {
    :root{
        --keytabs-padding-right: 90px;
    }
    .keytabs{
        font-size: 1.2em;
        padding: 35px 50px;
    }
    .footer-b{width: 48%;}
    main{padding-bottom: 10.25vw;}
}

@media (max-width: 1024px) {
    :root{
        --keytabs-padding-right: 70px;
    }
    .header-menu{gap: 1em;}
    .gnb_list{gap: 3em;}
    .keytabs{padding-right: 0;}
    .namecard-img>img{width: 12em;}
}
@media (max-width: 840px) {
    .gnb{display: none;}
    .main_keytabs{flex-wrap: wrap;}
    .gnb_list{gap: 1em;}
    .namecard-home{max-width: 10em;}
    .namecard-img img{max-width: 10em;}
    .namecard-name div:first-child{padding: 5px 5px;}
    .sec__title{font-size: 4.2em;}
}
@media (max-width: 770px) {
    :root{
        --header-h: 90px;
        --header-padding-side:2rem;
    }
    #all_menu{width: 85%;}
    .keytabs{width: 50%;}
    .gnb_list{gap: 2em;}
    .home-contents{padding: 0 5vw;}
}
@media (max-width: 720px) {
    #all_menu{width: 100%;}
    .sec__title{font-size: 3.5em;}
}
@media (max-width: 576px){
    #all_menu{padding: 70px 30px 30px 30px;}
    .all-menu-row{
        display: block;
        padding: 25px 15px;
    }
    .all-menu-row-sec2{padding: 15px 0 0 3px;}
    .keytabs{
        font-size: .9em;
        gap: .9em;
    }
    .keytabs>p{font-size: 1.2em;}
    .main-center{transform: translateY(-20px);}
    .home-contents{padding: 0 20px;}
    .sec__title{font-size: 3.1em;}
}
@media (max-width: 480px){
    .sec__title{font-size: 2.5em;}
}
@media (max-width: 450px){
    :root{
        --header-padding-side:1rem;
    }
    .keytabs{
        min-width: 100px;
        padding: 30px 0 30px 20px;
    }
    .header-menu{gap: 1em;}
    .main_words-top{font-size: 1.7em;}
}
@media (max-width: 375px){
    .sec__title{font-size: 2.2em;}
    .keytabs>.arrow45deg{right: 13%;}
}





/* --------자바스크립트 토글용 */
.blurbg{
    background-color: #ffffff0b;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid #e3e3e360;

    background-color: #ffffffb8;
    background-color: #fffffffd;
    color: #000;
}
.gnb2{
    background-color: var(--keycolor);
    color: #fff;
}

.gnb2i:hover{
    background-color: var(--fff2);
    color: #000;
}
/*  */
.ap{
    opacity: 0;
    transform: translate3d(0em, 7em, 7em);
    transition: opacity 1s cubic-bezier(0, 0, 0.2, 1) 0s
    , transform 1s cubic-bezier(0, 0, 0.2, 1) 0s;

}
.ap-active{
    opacity: 1;
    transform: translate3d(0em, 0em, 0em);
    transition: opacity 1s cubic-bezier(0, 0, 0.2, 1) 0s
    , transform 1s cubic-bezier(0, 0, 0.2, 1) 0s;
}
.ap2{
    opacity: 0;
    transform: translate3d(-25%, 0em, 0em);
    transition: opacity 1s cubic-bezier(0, 0, 0.2, 1) 0s
    , transform 1s cubic-bezier(0, 0, 0.2, 1) 0s;

}
.ap-active2{
    opacity: 1;
    transform: translate3d(0em, 0em, 0em);
    transition: opacity 1s cubic-bezier(0, 0, 0.2, 1) 0s
    , transform 1s cubic-bezier(0, 0, 0.2, 1) 0s;
}
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}    
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}



/*  */
.lhtwmK{
    display: none;
}